/* -----------------chatbot-css----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}

body.appear-animate {
  transform: unset;
}

.chatbot-btn-container {
  position: fixed;
  bottom: 60px !important;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  z-index: 999;
}
.chatbot-show-btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
}

.chatbot-show-btn img {
  width: 60px;
  height: 60px;
}
.chatbot-container {
  width: 340px;
  min-height: 600px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  border-image: initial;
  border-radius: 45px 45px 0px 0px;
  overflow: hidden;
}
.chatbot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd9d9;
  color: #000000;
  padding: 14px;
  box-shadow: 3px 2px 0px #4B4B4B40;
}

.chatbot-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.chatbot-header-icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.chatbot-header-icon img {
  width: 46px;
  height: 46px;
}

.chatbot-header-content p {
  font-size: 20px;
  margin: 0px;
}
.chatbot-close-btn {
  cursor: pointer;
}
.chatbot-btn-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
}
.chatbot-content {
  height: 450px;
  overflow-y: scroll;
  padding: 10px 15px;
}

.chatbot-content::-webkit-scrollbar {
  width: 5px;
}

.chatbot-content::-webkit-scrollbar-track {
  width: 5px;
  background: transparent;
}

.chatbot-content::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #ffb4b4;
  border-radius: 2.5px;
  border: none;
}

.chatbot-input-container {
  position: absolute;
  bottom: 0px;
  background-color: #ffd9d9;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
  padding: 20px;
}

.chatbot-input-container input,
.chatbot-input-container input:hover,
.chatbot-input-container input:focus {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: #000000;
  padding: 0px 15px;
}

.chatbot-input-container input::placeholder {
  color: #000000;
}

.chatbot-input-container button {
  background-color: #ff6d6e;
  color: #ffffff;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}

.typemessage-container {
  display: flex;
  justify-content: end;
  gap: 6px;
  padding: 6px;
}
.typemessage-container .chatbot-type-icon img {
  width: 14px;
}

.type-message {
  background-color: #ffe6e6;
  color: #000000;
  min-width: 16px;
  padding: 5px 12px;
  box-shadow: 2px 3px 0px #00000040;
  margin-bottom: 4px;
  border-radius: 6px;
}
.type-message{
  background-color: #ffb4b4;
}
.type-message-time{
  text-align: right;
  font-size: 12px;
  margin-bottom: 8px;
}
.reply-message-time{
  margin-bottom: 8px;
  font-size: 12px;
}

.chatbot-details-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 6px;
  padding: 2px 0px !important;
  margin-bottom: 5px;
}
.chatbot-details-btn-container button,
#dropdownMenuButton1 {
  background-color: #ff6d6e;
  color: #ffffff;
  padding: 8px;
  box-shadow: 2px 3px 4px #00000040;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}
.reply-message-container {
  display: flex;
  gap: 6px;
}

.chatbot-reply-icon img {
  width: 38px;
  max-width: unset;
}
.reply-message-content {
  background-color: #FFB4B4;
  color: #000000;
  padding: 8px 12px;
  box-shadow: 2px 3px 0px #aea4a440;
  border-radius: 10px 10px 0px 10px;
  margin-bottom: 16px;
}

.animated-dotte-container {
  display: flex;
  justify-content: start;
  gap: 6px;
  margin-bottom: 16px;
}

.animated-dotte-container .dotte {
  width: 8px;
  height: 8px;
  background-color: #ffe6e6;
  border-radius: 30px;
  animation: up-Down 0.3s infinite alternate linear;
}
.animated-dotte-container .dotte-two {
  animation: up-Down 0.5s infinite alternate linear;
}
.industries-list {
  margin-top: 10px;
}
.services-table {
  margin-top: 15px;
}
.chatbot-links{
  color: #000000;
  text-decoration: none;
}
@keyframes up-Down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 1441px) {
  .chatbot-container {
    width: 356px;
    min-height: 440px;
  }
  .chatbot-header{
    padding: 18px;
  }
  .chatbot-header-icon {
    width: 36px;
    height: 36px;
  }
  .chatbot-header-icon img {
    width: 30px;
    height: 30px;
  }
  .chatbot-reply-icon img{
    width: 26px;
    height: 26px;
  }
  .chatbot-header-content p {
    font-size: 16px;
  }
  .chatbot-content {
    height: 300px;
  }
  .chatbot-details-btn-container button {
    padding: 6px;
  }
}
@media screen and (max-width: 768px) {
  .chatbot-container {
    width: auto;
    margin: 0 16px;
  }
  .chatbot-close-btn {
    right: 10px;
  }
}
.services-table td {
  border: 1px solid gray;
}
.services-table a {
  color: #000000;
}
.services-table a:hover {
  color: rgb(255, 69, 70);
}
.chatbot-links {
  text-decoration: underline;
}
.chatbot-links:hover {
  text-decoration: underline;
  color: rgb(255, 69, 70);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .chatbot-container {
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .chatbot-header-content p {
    font-size: 16px;
  }

  .chatbot-details-btn-container button,
  #dropdownMenuButton1 {
    padding: 3px;
  }
}

.chatbot-sagation-message{
  text-align: right;
}
.reply-message-content{
  margin-bottom: 4px;
}